<p>problemas1a10 works!</p>
<div>
  <div><input type="number" id="sumNumb1" /></div>
  <div><input type="number" id="sumNumb2" /></div>
  <div><input type="button" value="sumar" id="sumar" /></div>
  <div><strong>Resultado: {{ResultadoSuma}}</strong></div>
</div>

<div>
  <div><input type="number" id="divNumb1" /></div>
  <div><input type="number" id="divNumb2" /></div>
  <div><input type="button" value="dividir" id="dividir" /></div>
  <div><strong>Resultado: {{ResultadoDivision}}</strong></div>
</div>
